.bookings__container {
    max-width: 100rem;
    padding: 0 4rem;
}

.bookings__item--list {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    grid-gap: 2.5rem;
}

@media only screen and (max-width: 600px) {
    .bookings__container {
        padding: 0 2rem;
    }
}