.section-header {
    position: relative;
    height: 38vw;
    clip-path: polygon(0 0,
            100% 0,
            100% calc(100% - 9vw),
            0 100%);
    -webkit-clip-path: polygon(0 0,
            100% 0,
            100% calc(100% - 9vw),
            0 100%);
}

.header__hero {
    height: 100%;
}

.header__hero-img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    width: 100%;
    -o-object-position: 50% 25%;
    object-position: 50% 25%;
}

.header__hero-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear,
            left top,
            right bottom,
            from(#7dd56f),
            to(#28b487));
    background-image: linear-gradient(to right bottom, #7dd56f, #28b487);
    opacity: 0.85;
}

.heading-box {
    position: absolute;
    bottom: 13vw;
    left: 50%;
    top: 35%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.heading-box__group {
    color: #f7f7f7;
    margin-top: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.heading-box__detail {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);
}

.heading-box__detail svg {
    margin-right: 0.8rem;
}

.heading-box__detail:not(:last-child) {
    margin-right: 4rem;
}

.heading-box__icon {
    height: 2rem;
    width: 2rem;
    fill: currentColor;
    -webkit-filter: drop-shadow(0 0.75rem 0.5rem rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0 0.75rem 0.5rem rgba(0, 0, 0, 0.25));
}

/* ------------------ description -------------------------- */

.section-description {
    background-color: #fcfcfc;
    margin-top: calc(0px - var(--section-rotate));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.section-description>* {
    padding: 0 8vw;
    padding-top: 14vw;
    padding-bottom: calc(1vw + var(--section-rotate));
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
}

.description-box .description {
    margin-right: 5rem;
}

.description-box .description__text {
    font-size: 1.7rem;
}

.description-box .description__text:not(:last-child) {
    margin-bottom: 2rem;
}

.overview-box {
    background-color: #f7f7f7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.overview-box__group:not(:last-child) {
    margin-bottom: 7rem;
}

.overview-box__detail {
    font-size: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 400;
}

.overview-box__detail svg {
    margin-right: 1.25rem;
}

.overview-box__detail:not(:last-child) {
    margin-bottom: 2.25rem;
}

.overview-box__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: #55c57a;
}

.overview-box__label {
    font-weight: 700;
    margin-right: 2.25rem;
    text-transform: uppercase;
    font-size: 1.4rem;
}

.overview-box__text {
    text-transform: capitalize;
}

.overview-box__img {
    border-radius: 50%;
    height: 3.5rem;
    margin-right: 1.25rem;
}

/* ----------- section-pictures --------- */
.section-pictures {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    clip-path: polygon(0 var(--section-rotate),
            100% 0,
            100% calc(100% - var(--section-rotate)),
            0 100%);
    -webkit-clip-path: polygon(0 var(--section-rotate),
            100% 0,
            100% calc(100% - var(--section-rotate)),
            0 100%);
    margin-top: calc(0px - var(--section-rotate));
    position: relative;
    z-index: 1000;
}

.picture-box__img {
    display: block;
    width: 100%;
    height: 110%;
    -o-object-fit: cover;
    object-fit: cover;
}

.picture-box__img--1 {
    padding-top: 15%;
}

.picture-box__img--2 {
    padding-bottom: 15%;
}

.picture-box__img--3 {
    padding-bottom: 27%;
}

/* ----------section-reviews ------- */
.section-reviews {
    margin-top: calc(0px - var(--section-rotate));
    padding: calc(5rem + var(--section-rotate)) 0;
    position: relative;
    z-index: 1000;
    background: -webkit-gradient(linear,
            left top,
            right bottom,
            from(#7dd56f),
            to(#28b487));
    background: linear-gradient(to right bottom, #7dd56f, #28b487);
    clip-path: polygon(0 var(--section-rotate),
            100% 0,
            100% calc(100% - var(--section-rotate)),
            0 100%);
    -webkit-clip-path: polygon(0 var(--section-rotate),
            100% 0,
            100% calc(100% - var(--section-rotate)),
            0 100%);
}

.reviews {
    padding: 5rem 0;
    display: grid;
    grid-column-gap: 6rem;
    grid-auto-flow: column;
    overflow-x: scroll;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
}

.reviews:before,
.reviews:after {
    content: '';
    width: 2rem;
}

/* --------------- section-cta ------------------ */
.section-cta {
    margin-top: calc(0px - var(--section-rotate));
    padding: 3rem;
    padding-bottom: 11rem;
    padding-top: calc(15rem + var(--section-rotate));
    background-color: #f7f7f7;
}

.cta {
    position: relative;
    max-width: 105rem;
    margin: 0 auto;
    overflow: hidden;
    background-color: #fff;
    padding: 9rem 5rem 9rem 21rem;
    border-radius: 2rem;
    -webkit-box-shadow: 0 3rem 8rem 0.5rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 3rem 8rem 0.5rem rgba(0, 0, 0, 0.15);
}

.cta__img {
    height: 15rem;
    width: 15rem;
    position: absolute;
    left: 0;
    top: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 1rem 0.5rem 3rem rgba(0, 0, 0, 0.15);
    box-shadow: 1rem 0.5rem 3rem rgba(0, 0, 0, 0.15);
}

.cta__img--logo {
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: -webkit-gradient(linear,
            left top,
            right bottom,
            from(#7dd56f),
            to(#28b487));
    background: linear-gradient(to right bottom, #7dd56f, #28b487);
    z-index: 10;
    -webkit-transform: translate(-35%, -50%);
    transform: translate(-35%, -50%);
}

.cta__img--logo img {
    width: 100%;
}

.cta__img--1 {
    -webkit-transform: translate(-10%, -50%) scale(0.97);
    transform: translate(-10%, -50%) scale(0.97);
    z-index: 9;
}

.cta__img--2 {
    -webkit-transform: translate(15%, -50%) scale(0.94);
    transform: translate(15%, -50%) scale(0.94);
    z-index: 8;
}

.cta__content {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr auto;
    grid-gap: 0.7rem;
    grid-auto-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.cta__text {
    font-size: 1.9rem;
    font-weight: 400;
}

/* ------------ btn -------------- */
.section-cta button {
    grid-row: 1 / -1;
}

@media only screen and (max-width: 1000px) {

    .heading-box__group {
        margin-top: 2rem;
    }

    /* make sure you specify the mobile height in px */
    .section-header {
        height: 40vw;
    }
}

@media only screen and (max-width: 800px) {
    .section-header {
        height: 45vw;
    }

    .section-description {
        background-color: #fcfcfc;
        /* margin-top: calc(0px - var(--section-rotate)); */
        display: flex;
        flex-direction: column;
    }

    /* .section-description>* {
        padding: 0 8vw;
        padding-top: 14vw;
        padding-bottom: calc(1vw + var(--section-rotate));
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    } */

    .overview-box__group:not(:last-child) {
        margin-bottom: 5rem;
    }

    .description-box,
    .overview-box__group {
        text-align: center;
    }
}