.card-container {
    max-width: 122rem;
    margin: 8rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 7rem;
    padding: 0 2rem;
}

@media only screen and (max-width: 1200px) {
    .card-container {
        grid-gap: 3rem;
    }
}

@media only screen and (max-width: 1000px) {
    .card-container {
        grid-template-columns: repeat(2, minmax(26rem, 1fr));
    }
}

@media only screen and (max-width: 800px) {
    .card-container {
        grid-column-gap: 2.4rem;
    }
}

@media only screen and (max-width: 600px) {
    .card-container {
        grid-template-columns: minmax(26rem, 1fr);
    }
}