@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap');

::selection {
  background-color: #55c57a;
  color: #fff;
}

:root {
  --color-primary: #55c57a;

  --body-text: #777777;
  --text-heading: #f7f7f7;
  --section-rotate: 9vw;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: var(--body-text);
  line-height: 1.6;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  background: var(--text-heading);
}

.ma-bt-md {
  margin-bottom: 3rem !important;
}

.ma-bt-lg {
  margin-bottom: 3.5rem !important;
}

.right {
  text-align: right !important;
}

/* ---------------HEADINGS TERTIARY  ------------------ */
.heading-primary {
  font-size: 5rem;
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.heading-secondary {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: -webkit-gradient(linear,
      left top,
      right top,
      from(#7dd56f),
      to(#28b487));
  background-image: linear-gradient(to right, #7dd56f, #28b487);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.1rem;
  line-height: 1.3;
  display: inline-block;
}

.heading-secondary--error {
  background-image: -webkit-gradient(linear,
      left top,
      right top,
      from(#ff7730),
      to(#eb4d4b));
  background-image: linear-gradient(to right, #ff7730, #eb4d4b);
  font-size: 3.5rem;
}

.heading-tertirary {
  font-size: 2.75rem;
  text-align: right;
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  width: 70%;
  z-index: 10;
}

.heading-primary,
.heading-tertirary {
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
}

.heading-primary span,
.heading-tertirary span {
  padding: 1rem 1.5rem;
  line-height: 1;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background-image: -webkit-gradient(linear,
      left top,
      right bottom,
      from(rgba(125, 213, 111, 0.85)),
      to(rgba(40, 180, 135, 0.85)));
  background-image: linear-gradient(to bottom right,
      rgba(125, 213, 111, 0.85),
      rgba(40, 180, 135, 0.85));
}

.centered {
  margin: 15rem auto;
  max-width: 120rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered p {
  font-size: 1.5rem;
  font-weight: 400;
  color: #2a2d2d;
  padding: 2rem 0;
}

/* ---------------- btn --------------- */
.btn,
.btn:link,
.btn:visited {
  font-size: 1.6rem;
  padding: 1.4rem 3rem;
  border-radius: 10rem;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-weight: 400;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /*Add later when we use this for the button in form*/
  border: none;
  cursor: pointer;
}

.btn--loader {
  padding: .5rem 1.2rem .5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:active {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
  background-color: #2e864b;
}

.btn--green {
  background-color: #55c57a;
  color: #fff;
}

.btn--green::after {
  background-color: #55c57a;
}

.btn--small {
  font-size: 1.4rem;
  padding: 1.25rem 3rem;
}

/* ------------map ------- */
.section-map {
  position: relative;
  height: 65rem;
  margin-top: calc(0px - var(--section-rotate));
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.marker {
  background-image: url('./assets/pin.png');
  background-size: cover;
  width: 32px;
  height: 40px;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 25rem;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Lato', sans-serif;
  padding: 1.5rem !important;
  font-size: 1.4rem;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15) !important;
}

/* -------------form --------------- */
.form__input {
  display: block;
  font-family: inherit;
  font-size: 1.5rem;
  color: inherit;
  padding: 1.25rem 1.75rem;
  border: none;
  width: 100%;
  background-color: #fff;
  background-color: #f2f2f2;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* Pseudo element (a visible thing that isn't really in the DOM).
      Also needs -ms- */
}

.invalid {
  border: 1px solid #eb4d4b;
}

.form__input:focus {
  outline: none;
}

.form__input::-webkit-input-placeholder {
  color: #bbb;
}

.form__group:not(:last-child) {
  margin-bottom: 2.5rem;
}

.form__label {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.text-invalid {
  color: #eb4d4b;
  font-size: 1.6rem;
  font-weight: 400;
  padding-top: .8rem;
}

.form__photo-upload {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}

.form__user-photo {
  height: 7.5rem;
  width: 7.5rem;
  border-radius: 50%;
  margin-right: 2rem;
}

.form__upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.form__upload:focus+label {
  outline: 3px solid #55c57a;
  outline-offset: 3px;
}

.form__upload+label {
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

.form__upload+label:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

@media only screen and (max-width: 1000px) {

  .heading-primary {
    font-size: 3.7rem;
  }

  /* .heading-tertirary span, */
  .heading-primary span {
    padding: .5rem 1rem;
  }

  .heading-tertirary {
    width: 60%;
  }
}

@media only screen and (max-width: 800px) {

  .heading-primary {
    width: 80%;
  }

  .section-map {
    height: 55rem;
  }


  .heading-tertirary {
    width: 70%;
  }

  .ma-bt-md {
    margin-bottom: 2rem !important;
  }

  .ma-bt-lg {
    margin-bottom: 2.5rem !important;
  }

  .form__user-photo {
    height: 5.5rem;
    width: 5.5rem;
    margin-right: 1.9rem;
  }
}


@media only screen and (max-width: 600px) {
  .heading-primary {
    width: 100%;
    font-size: 3.2rem;
  }

  .heading-tertirary {
    width: 40%;
    font-size: 2.3rem;
  }

  .heading-secondary {
    font-size: 1.9rem;
  }

  .btn--small {
    font-size: 1.3rem;
    padding: 1.25rem 3rem;
  }
}

@media only screen and (max-width: 500px) {
  .heading-tertirary {
    width: 50%;
  }
}

@media only screen and (max-width: 400px) {
  .heading-tertirary {
    width: 60%;
  }
}